body {
    padding-right: 0 !important;
}

.section-title {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

    .section-title > * {
        cursor: pointer;
    }

.section-toggle {
    display: none;
}

.section-wrapper {
    position: relative;
    transition: max-height 0.4s ease-in-out;
    transform-origin: bottom;
    overflow: hidden;
    max-height: 100vh;
    padding: 5px 0;
}

/*.section-wrapper:hover {
    transform: translateY(-100%);
}*/

.section-wrapper.slide-up {
    max-height: 0px;
    padding: 0;
}

.section-settings {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

    .section-settings > div {
        display: flex;
        flex-direction: row;
        margin-bottom:5px;
    }

    .section-settings > div > span {
        display: flex;
        align-items: center;
    }

.btn-update {
    position: absolute;
    right: 0px;
    top: 0px;
}

.caret {
    margin-left: 15px;
    border: solid 8px transparent;
    height: 0;
    width: 0;
    transition: transform 0.4s ease-in-out;
    border-top-width: 0px;
    border-bottom-color: #000;
}

.caret-collapse {
    transform: rotate(-180deg)
}

#scheduler-form > div {
    display: flex;
    min-height: 70px;
    border-top: 1px solid #eef;
}

#scheduler-form > span {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

#scheduler-form > div > span {
    display: flex;
    align-items: center;
    border-left: 1px solid #eff;
    /*border-top: 1px solid #eef;*/
    flex-grow: 1;
}

    #scheduler-form > div > span.fw-bold {
        max-width: 250px;
        min-width: 250px;
        align-items: center;
        justify-content: flex-start;
        border-left: none;
    }

.days button {
    border: 1px solid #ccc;
    border-radius: 0;
    min-width: 70px;
}

    .days button:hover {
        border: 1px solid #ccc; /*to hide hover effect*/
    }

    .days button:first-child {
        border-radius: 10px 0 0 10px;
    }

    .days button:last-child {
        border-radius: 0 10px 10px 0;
    }

    .days button.selected {
        background-color: #ddeeff;
        color: #000 !important;
        font-weight: bold;
    }

.time > span > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time button {
    background-color: transparent;
    border: none;
    margin-top: 6px;
}

    .time button span {
        width: 0;
        height: 0;
        display: inline-block;
        border: 10px solid transparent;
    }

.time .plus {
    margin-bottom: 5px;
    border-bottom-color: #000;
}

.time button:active .plus {
    border-bottom-color: #ddeeff;
}

.time .minus {
    margin-top: 8px;
    border-top-color: #000;
}

.time button:active .minus {
    border-top-color: #ddeeff;
}

.time input[type="text"] {
    max-width: 55px;
    border: none;
}

thead {
    background-color: #eee;
}

    thead > tr > th, td {
        vertical-align: middle !important;
    }



.tab-nav {
    display: flex;
    margin: 1.5rem 0;
}

    .tab-nav a {
        font-weight: bold;
        font-size: 1.1rem;
        padding: 12px 16px;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: #000;
    }

        .tab-nav a.active, .tab-nav span:hover {
            color: #6c812c;
        }

        .tab-nav a.active {
            border-bottom: 2px solid #6c812c;
        }

#Email {
    max-width: 50rem;
}
