<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
		<section name="AgencyManagementMVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="AgencyManagementCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
  <AgencyManagementMVC.Properties.Settings>
   <setting name="TestUserName" serializeAs="String">
     <value>admin</value>
   </setting>
   <setting name="AdminGroup" serializeAs="String">
     <value>Business Administrators</value>
   </setting>
   <setting name="PageLockExpirationMin" serializeAs="String">
     <value>10</value>
   </setting>
   <setting name="NotFoundAddress" serializeAs="String">
     <value>404</value>
   </setting>
   <setting name="UnlockRedirectAddress" serializeAs="String">
     <value>/otcs/llisapi.dll/app</value>
   </setting>
 </AgencyManagementMVC.Properties.Settings>
	<AgencyManagementCore.Properties.Settings>
		<setting name="LogDirectory" serializeAs="String">
			<value>./logs/</value>
		</setting>
		<setting name="LogFileLevel" serializeAs="String">
			<value>Debug</value>
		</setting>
		<setting name="LogConsoleLevel" serializeAs="String">
			<value>Debug</value>
		</setting>
		<setting name="LogFileName_Main" serializeAs="String">
			<value>main</value>
		</setting>
		<setting name="DB_ConnectionString_WOCredentials" serializeAs="String">
			<value>Data Source=localhost;Initial Catalog=OTCSData;</value>
		</setting>
		<setting name="DB_Username" serializeAs="String">
			<value>sa</value>
		</setting>
		<setting name="DB_Password" serializeAs="String">
			<value>P@ssw0rd</value>
		</setting>
		<setting name="UseSecureCredentials" serializeAs="String">
			<value>False</value>
		</setting>
		<setting name="SecureAESKey_Filename" serializeAs="String">
			<value>AES.key</value>
		</setting>
		<setting name="SecureCSDBUsername_Filename" serializeAs="String">
			<value>csdb_username</value>
		</setting>
		<setting name="SecureCSDBPassword_Filename" serializeAs="String">
			<value>csdb_password</value>
		</setting>
		<setting name="SecureCredentialsPath" serializeAs="String">
			<value>\\vmware-host\Shared Folders\temp\credentials\Admin</value>
		</setting>
		<setting name="UseWindowsAuthentication" serializeAs="String">
			<value>False</value>
		</setting>
		<setting name="UseDBIntegratedSecurity" serializeAs="String">
			<value>False</value>
		</setting>
		<setting name="ExcludeDomainFromImpersonationUserName" serializeAs="String">
			<value>True</value>
		</setting>
		<setting name="UsernamePrefixesToIgnore_ExcludedNames" serializeAs="Xml">
			<value>
				<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<string>admin</string>
				</ArrayOfString>
			</value>
		</setting>
		<setting name="SecureOTCSUsername_Filename" serializeAs="String">
			<value>otcs_username</value>
		</setting>
		<setting name="SecureOTCSPassword_Filename" serializeAs="String">
			<value>otcs_password</value>
		</setting>
		<setting name="OTCS_Username" serializeAs="String">
			<value>Admin</value>
		</setting>
		<setting name="OTCS_Password" serializeAs="String">
			<value>P@ssw0rd</value>
		</setting>
		<setting name="RootID" serializeAs="String">
			<value>6910</value>
		</setting>
		<setting name="CS_REST_URL" serializeAs="String">
			<value>http://localhost/otcs/llisapi.dll/api/</value>
		</setting>
		<setting name="UsernamePrefixesToIgnore" serializeAs="Xml">
			<value>
				<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<string>ura</string>
				</ArrayOfString>
			</value>
		</setting>
	</AgencyManagementCore.Properties.Settings>
  
  </applicationSettings>
</configuration>