@*<div class="tab-nav">
    <a href="@Url.Action("Settings","Home")" class="@(ViewBag.Title==Labels.TitleSettings?"active":"")">
        Settings
    </a>
    <a href="@Url.Action("Reports","Home")" class="@(ViewBag.Title==Labels.TitleReports?"active":"")">
        Utilization Reports
    </a>
</div>*@
